# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.build/
build/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods (not used, but ignore if introduced later)
Pods/

# Fastlane (not used yet)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
